.containerCOUNTER {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-area: Counter;
}

.containerCOUNTER div:first-child {
  display: grid;
  justify-content: center;
}

.containerCOUNTER div:last-child {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.containerCOUNTER button {
  width: 90px;
  color: white;
  font-size: 25px;
  font-family: 'K2D', sans-serif;  
  background: rgba(0, 0, 0, .7);
  margin: 0;
  border: none;
  border-radius: 7px;
  outline: none
}

.containerCOUNTER span {
  color: #19d7d1;
  font-size: 80px;
  font-family: 'K2D', sans-serif;
  margin: 0;
}