body {
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h3 {
  font-size: 25px;
  font-family: 'K2D', sans-serif;
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  width: 100%;
  grid-template-areas: "Counter TextChange"
                        "AddSong AddSong";
}